[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=X-Alterator-Servers
Icon=dhcp
Terminal=false
Name=DHCP server
X-Alterator-URI=/dhcp
X-Alterator-UI=html
X-Alterator-Help=dhcp
Name[ru]=DHCP-сервер
Name[uk]=DHCP-сервер
Name[pt_BR]=Servidor DHCP
