<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<!-- dhcp administration module -->
<html wf="form">
  <head>
    <link type="text/css" rel="stylesheet" href="/design/styles/dhcp.css"/>
    <script>
      effectShow("noiface_warn", "iface", "");
      effectHide("main_table", "iface", "");
    </script>
  </head>
  <body>
    <a href="/services?name=dhcpd"><span translate="_">Start, stop or restart service...</span></a>
    <form method="POST">

      <div name="noiface_warn">
        <p><span translate="_">You must have statically configured ethernet interface to setup dhcp server.</span><br/>
        <a href="/net-eth"><span translate="_">Reconfigure ethernet interfaces...</span></a></p>
      </div>

      <div name="main_table">
	<table class="form-table-annotated">
	    <tr>
		<td colspan="2">&nbsp;</td>
	    </tr>
	    <tr>
		<td colspan="2" style="text-align:left"><strong><span translate="_">General settings</span></strong></td>
	    </tr>
	    <tr>
		<td colspan="2">&nbsp;</td>
	    </tr>
	    <tr>
		<td><span translate="_">Interface:</span></td>
		<td>
		    <select name="iface" enumref="/dhcp/avail_iface"/><br/>
		    <small><span translate="_">(maximum possible address range)</span></small>
		</td>
	    </tr>
	    <tr>
		<td><span name="ip_start" translate="_">Starting IP address:</span></td>
		<td><input class="text" type="text" name="ip_start"/></td>
	    </tr>
	    <tr>
		<td><span name="ip_end" translate="_">Ending IP address:</span></td>
		<td><input class="text" type="text" name="ip_end"/></td>
	    </tr>
	    <tr>
		<td><span translate="_">Address  expiration time:</span></td>
		<td><select name="client_time" enumref="/dhcp/avail_time"/></td>
	    </tr>
	    <tr>
		<td colspan="2">&nbsp;</td>
	    </tr>
	    <tr>
		<td colspan="2" style="text-align:left"><strong><span translate="_">Information provided for clients</span></strong></td>
	    </tr>
	    <tr>
		<td colspan="2">&nbsp;</td>
	    </tr>
	    <tr>
		<td><span name="client_dns" translate="_">DNS server:</span></td>
		<td><input type="text" class="text" name="client_dns"/></td>
	    </tr>
	    <tr>
		<td><span name="client_search" translate="_">Search domain:</span></td>
		<td><input type="text" class="text" name="client_search"/></td>
	    </tr>
	    <tr>
		<td><span name="client_gw" translate="_">Default gateway:</span></td>
		<td><input type="text" class="text" name="client_gw"/></td>
	    </tr>
	    <tr>
		<td colspan="2">&nbsp;</td>
	    </tr>
	    <tr>
		<td>&nbsp;</td>
		<td>
		    <input type="submit" class="btn" name="general" value="Apply"/>
		    &nbsp;
		    <input type="reset" class="btn" value="Reset"/>
		</td>
	    </tr>
	</table>
	<hr/>
	<strong><span translate="_">Static addresses</span></strong>
	<br/><br/>

	<div style="width:100%;max-height:300px; overflow: auto;">
	    <table class="alterator-listbox" enumref="/dhcp/avail_static" style="width:100%">
		<thead>
			<tr>
			    <th>&nbsp;</th>
			    <th><span translate="_">Host address</span></th>
			    <th><span translate="_">MAC address</span></th>
			</tr>
		    </thead>
		    <tbody optionlist="/subnets" class="alterator-list">
			<tr>
			    <td><input type="checkbox" name="static_name"/></td>
			    <td><span class="alterator-label" name="static_ip"/></td>
			    <td><span class="alterator-label" name="static_mac"/></td>
			</tr>
		    </tbody>
		</table>
	</div>
	<br/>
	
	<input type="submit" class="btn" name="static_del" value="Remove selected"/><br/>
	<br/>
	<table>
	    <tr>
		<td><span name="new_static_ip" translate="_">Host address:</span></td>
		<td><input type="text" class="text" name="new_static_ip"/></td>
		<td><span name="new_static_mac" translate="_">MAC address:</span></td>
		<td><input type="text" class="text" name="new_static_mac"/></td>
		<td><input type="submit" class="btn" name="static_add" value="Add"/></td>
	    </tr>
	    <tr>
		<td>&nbsp;</td>
		<td><small><span translate="_">(DNS name or IP address)</span></small></td>
	    </tr>
	</table>
	<hr/>
	<strong><span translate="_">Current dynamically allocated addresses</span></strong>
	<br/><br/>

	<div style="width:100%;max-height:300px; overflow: auto;">
	    <table class="alterator-listbox" enumref="/dhcp/avail_lease" style="width:100%">
		<thead>
			<tr>
			    <th>&nbsp;</th>
			    <th><span translate="_">Host name</span></th>
			    <th><span translate="_">MAC address</span></th>
			    <th><span translate="_">IP address</span></th>
			    <th><span translate="_">Expiration time</span></th>
			</tr>
		    </thead>
		    <tbody optionlist="/subnets" class="alterator-list">
			<tr>
			    <td><input type="checkbox" name="lease_name"/></td>
			    <td><span class="alterator-label" name="lease_hname"/></td>
			    <td><span class="alterator-label" name="lease_mac"/></td>
			    <td><span class="alterator-label" name="lease_ip"/></td>
			    <td><span class="alterator-label" name="lease_expired"/></td>
			</tr>
		    </tbody>
		</table>
	</div>
	<br/>
	<input type="submit" class="btn" name="lease_fix" value="Fix address for selected hosts"/>
      </div>
    </form>
  </body>
</html>
